body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.chat-container {
    width: 400px;
    margin: auto;
    margin-top: 50px;
}

#chatbox {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #444;
    padding: 10px;
    margin-bottom: 10px;
}
