body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.chat-container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    margin-top: 30px;
}

#chatbox {
    height: 400px;
    overflow-y: scroll;
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.user-msg {
    background: #3b82f6;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    align-self: flex-end;
}

.bot-msg {
    background: #1e293b;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    align-self: flex-start;
}

.input-area {
    display: flex;
}

input {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background: #3b82f6;
    border: none;
    color: white;
}
